.galleryGrid {
  display: grid;
  gap: 30px;
  border-radius: 20px;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas:
    "highlight highlight sneaker-purple sneaker-purple"
    "highlight highlight model sneaker-color"
    "sneaker-white sneaker-white model sneaker-silver";
}

/* Mobile */
@media (max-width: 768px) {
  /* Ajusta o grid para duas colunas e áreas diferentes em telas menores */
  .galleryGrid {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "highlight highlight"
      "sneaker-white sneaker-white"
      "model sneaker-color"
      "model sneaker-silver"
      "sneaker-purple sneaker-purple";
  }

  /* Limita a altura dos cards de tênis branco e roxo no mobile */
  .sneakerWhite,
  .sneakerPurple {
    max-height: 190px;
  }
}